.basic-header {
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    /* width: 100%; */
    /* position: fixed;
    top: 0;
    left: 0;
    right: 0; */
    z-index: 1000;
    max-width: 1000px;
    margin-top: 2rem;
    align-self: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    padding: 5px 20px;
    gap: 20px;
    animation: slideFromTop 0.5s;
    @media screen and (max-width: 768px) {
        padding: 5px 10px;
        position: fixed;
        top: 0;
        width: 100%;
    }
}

.basic-header .logo {
    font-size: 1.5em;
    font-weight: 700;
    color: #212529;
    text-decoration: none;
}

.header-element {
    display: flex;
    justify-content: center;
    align-items: center;;
    gap: 5px;
    border-radius: 30px;
    padding: 10px 20px;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
}

.active {
    background-color: #fb6f92;
    color: #fff;
}

.header-element:hover {
    background-color: #f8edeb;
    color: #212529;
    text-decoration:underline;
}

.admin-link {
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    /* width: 100%; */
    /* position: fixed;
    top: 0;
    left: 0;
    right: 0; */
    z-index: 1000;
    max-width: 1000px;
    margin-top: 2rem;
    align-self: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    padding: 5px 20px;
    gap: 20px;
    animation: slideFromTop 0.5s;
    @media screen and (max-width: 768px) {
        padding: 5px 10px;
        position: fixed;
        top: 0;
        width: 100%;
    }
}

.admin-link-element {
    display: flex;
    justify-content: center;
    align-items: center;;
    gap: 5px;
    border-radius: 30px;
    padding: 10px 20px;
    transition: all ease-in-out 0.3s;
}

.admin-link-element:hover {
    background-color: #f8edeb;
    color: #212529;
}

.admin-link-element.active {
    background-color: #fb6f92;
    color: #fff;
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.dropdown-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    width: 90%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    animation: slideFromTop 0.5s;
}

.dropdown-element {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 10px 20px;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
    width: 90%;
    border: 1px solid #ddd;
    border-radius: 30px;
}

.dropdown-element:active {
    background-color: #fb6f92;
    color: #fff;
}

.dropdown-element:hover {
    background-color: #f8edeb;
    color: #212529;
}

.close-icon {
    align-self: flex-end;
    font-size: 1.5rem;
    cursor: pointer;
}

@keyframes slideFromTop {
    from {
        transform: translateY(-10%);
    }
    to {
        transform: translateY(0);
    }
}